.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 75%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  text-align: center;
}

@media only screen and (min-width: 601px) and (max-width: 991px) {
  .card {
    width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .card {
    width: 20%;
  }
}
